body {
    background-image: url("/images/worker.jpg");
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: rgba(212,212,212, 0.6);
    -ms-border-radius: 15px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.organization-list{
    list-style: none;
}

.organization-list > li {
    width: 50%;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    background-color:  rgba(212,212,212, 0.6);
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.jobs-list {
    list-style: none;
}

.jobs-list > li {
    width: 50%;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    background-color:  rgba(212,212,212, 0.6);
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.hazard-list {
    list-style: none;
}

.hazard-list > li > div {
    width: 50%;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    background-color:  rgba(212,212,212, 0.6);
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .notifications {
    position: relative;
}

.navbar-inverse .notifications .badge {
    position: absolute;
    top: 8px;
    right: -1px;
}


